DB_USERNAME=postgres
DB_PASSWORD=1234
DB_NAME=crm_hbc
DB_HOST=127.0.0.1
DB_DIALECT=postgres

# For reset password using Mailtrap API
MAILTRAP_TOKEN=your_mailtrap_api_token
MAILTRAP_SENDER_EMAIL=hello@demomailtrap.co
MAILTRAP_SENDER_NAME=HBC
FRONTEND_BASE_URL=http://localhost:3000