DB_USERNAME=postgres
DB_PASSWORD=1234
DB_NAME=crm_hbc
DB_HOST=127.0.0.1
DB_DIALECT=postgres

# For reset password using email
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=587
SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_password
SMTP_FROM=no-reply@hbc.local
FRONTEND_BASE_URL=http://localhost:3000