PGPORT=5432
PORT=3000

DB_USERNAME=postgres
DB_PASSWORD=1234
DB_NAME=crm_hbc
DB_HOST=127.0.0.1
DB_DIALECT=postgres

# For reset password using Gmail SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your_gmail_address@gmail.com
SMTP_PASS=your_app_password
SMTP_FROM_EMAIL=your_gmail_address@gmail.com
SMTP_FROM_NAME=HBC
FRONTEND_BASE_URL=http://localhost:5173